@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Custom properties */

:root{
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Roboto', monospace;

    --fw-reg: 200;
    --fw-bold: 800;

    --clr-light: white;
    --clr-dark: black;

    --fs-h1: 2.5rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;

    --fs-p1: 2rem;
    --fs-p2: 1.25rem;

    --fs-body: 1rem;

    --fs-title: 2.5rem;
    --fs-sub-title: 1.25rem;

    --is-1: 6rem;
    --is-2: 2.5rem;
}

/* General styles */

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--ff-primary);
    width: 100vw;
    height: 100vh;
}

section .title{
    position: relative;
    width: 100%;
    height: 7%;
    top: 0;
    text-align: center;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
}

section .sub-title{
    position: relative;
    width: 100%;
    height: 3%;
    text-align: center;
    font-size: var(--fs-sub-title);
    font-weight: var(--fw-reg);
    font-style: italic;
}

.text-1{
    width: 30%;
    text-align: center;
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.text-2{
    width: 20%;
    text-align: center;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    margin-left: 5%;
}

.about, .gallery, .services, .contact{
    width: 100%;
    height: 100%;
    margin-top: 5%;
}

.about, .services, .contact{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

/* Styling the custom scroll-up button */

.scroll-up{
    position: fixed;
    height: 30px;
    width: 30px;
    bottom: 10px;
    right: 30px;
    text-align: center;
    z-index: 9999;
    background-color: black;
    color: white;
    line-height: 30px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    pointer-events: none;
    transition: all 1s ease;
    pointer-events: none;
    opacity: 0;
}

.scroll-up.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up:hover{
    filter: brightness(70%);
}

/* Styling the navigation bar */

.navbar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 40px;
    z-index: 999;
    transition: all 1s ease;
}

.navbar.sticky{
    background-color: black;
    padding: 30px;
    height: 80px;
}

.menu li{
    list-style: none;
    display: inline-block;
}

.menu li a{
    display: block;
    font-weight: bold;
    font-size: large;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    transition: color 1s ease;
}

.menu li a:hover{
    color: gray;
}

.navbar.sticky .menu li a{
    color: white;
    transition: color 0.5s ease;
}

.navbar.sticky .menu li a:hover{
    color: #777777 !important;
}

.navbar.sticky .menu li a.active{
    color: #bfbfbf;
    text-shadow: 0.5px 0.5px 10px white;
    transition: color 0.5s ease;
}

/* Menu button styling */

.menu-btn{
    display: none;
    cursor: pointer;
    font-size: 23px;
}

/* Styling the home section */
.home{
    width: 100%;
    background: url('../images/profile.jpg') no-repeat center;
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.home-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 15%;
}

/* Styling the about section */

.about-content{
    display: flex; 
    align-items: center;
    width: 100%;
    height: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

.about-content .column-left{
    flex: 1;
    margin-left: 5%;
}

.about-content .column-left img{
    max-width: 100%;
    max-height: 100%;
    transition: all 1s ease;
}

.about-content .column-left img:hover{
    box-shadow: -5px 5px 5px black;
}

.about-content .column-right{
    flex: 1.5;
    margin-left: 5%;
}

.about-content .column-right p{
    font-size: var(--fs-p1);
    text-align: justify;
}

/* Styling the gallery section */

.gallery{
    background: url('../images/gallery_1.jpg') no-repeat center;
    background-size: auto;
    transition: all 1s ease;
}

.gallery-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gallery-content .text-1{
    width: 40%;
    color: white;
    font-size: calc(var(--fs-h1) + 1vh);
    font-weight: bold;
    letter-spacing: 0.5vw;
    text-shadow: 1px 1px 1px black;
    transition: all 1s ease;
}

.gallery-content .text-2{
    color: white;
    font-size: calc(var(--fs-h2) + 1vh);
    text-shadow: 1px 1px 1px black;
    margin-left: 0;
    transition: all 1s ease;
}

/* Styling the services section */

.services-content{
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.services-content .card{
    display: flex;
    width: calc((100% - 4 * 5%) / 3);
    height: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border: 0.5vw solid black;
    border-radius: 1vw;
    box-shadow: 0px 0px 5px black;
    transition: all 1s ease;
}

.services-content .card:hover{
    box-shadow: 0px 0px 15px black;
    background-color: lightgray;
}

.services-content .card span{
    font-size: var(--is-1);
}

.services-content .card .text-2{
    height: 20%;
    width: 60%;
    padding-top: 5%;
}

.services-content .card .service-desc{
    height: 35%;
    width: 100%;
    text-align: center;
    font-size: var(--fs-p2);
    padding-top: 5px;
    padding: 5%;
}


/* Styling the contact section */

.contact-content{
    position: relative;
    width: 100%;
    height: 90%;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}

/* Style the input-fields */

.fields{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}

.field{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin-bottom: 1%;
}

.field label{
    width: 100%;
    height: 50%;
}

.field input{
    width: 100%;
    height: 50%;
    font-size: medium;
    font-weight: normal;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    transition: all 1s ease;
}

.field input:focus{
    border-bottom: 3px solid black;
}

/* Style the message-area */

.text-area{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40%;
    margin-top: 1%;
}

.text-area label{
    width: 100%;
    height: 20%;
}

.text-area textarea{
    width: 100%;
    height: 80%;
    font-family: 'Roboto';
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    resize: none;
    transition: all 1s ease;
}

.text-area textarea:focus{
    border-bottom: 3px solid black;
}

/* Style the send-button */

.contact-form .send-button{
    position: relative;
    width: 100%;
    height: 30%;
    padding: 10%;      
}

.send-button.clicked{
    padding: 5%;
}

.send-button button{
    position: absolute;
    background-color: transparent;
    font-family: 'Roboto';
    border: 1px solid black;
    font-size: large;
    transition: all 0.3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
}

.send-button button:hover{
    box-shadow: 0px 0px 5px black;
}

.send-button button:focus{
    background-color: lightgray;
    font-size: smaller;
}

/* Style the footer */

footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
}

footer .links{
    position: relative;
    width: 30%;
    height: 30%;
    text-align: center;
}

.links a{
    font-size: var(--is-2);
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
    margin: 3px;
}

.links .facebook{
    position: relative;
    top: -2%;
    font-size: calc(var(--is-2) - 0.75vh); 
}

.links .instagram{
    position: relative;
    top: 2%;
}

.links a:hover{
    color: lightgray;
}

footer span{
    font-size: var(--fs-body);
    text-align: center;
    padding-top: 1%;
    width: 100%;
    height: 30%;
}

footer span a{
    text-decoration: none;
}

/* Responsive settings */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
    :root{
        --fs-p1: 1.5rem;
    }

    body{
        height: 75vh;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
    :root{
        --fs-h1: 2.25rem;
        --fs-h2: 1.25rem;
        --fs-p1: 1.25rem;
        --fs-p2: 1.10rem;

    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
    :root{
        --fs-h1: 1.75rem;
        --fs-h2: 1.0rem;
        --fs-p2: 0.75rem;
        --fs-body: 0.85rem;  
        --fs-title: 2rem;
        --is-1: 4rem;
        --is-2: 2rem;
        
    }
}


/* Small devices (portrait tablets and large phones, 576px and up) */
@media (max-width: 576px) {
    :root{
        --fs-h1: 2.5rem;
        --fs-h2: 1.5rem;
        --fs-p1: 0.75rem;
        --fs-p2: 0.55rem;
        --fs-title: 1.75rem;
        --fs-sub-title: 1rem;
        --is-1: 3rem;
        --is-2: 1.75rem;
    }

    .home{
        background: url('../images/white_bg3.jpeg') center no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .home-content{
        align-items: center;
    }

    .home .text-1{
        width: 60%;
        margin-right: 10%;
    }

    .home .text-2{
        width: 40%;
        margin-right: 12%;
    }

    .gallery-content .text-1{
        width: 55%;
    }

    .services{
        height: 100vh;
    }

    .services-content{
        flex-direction: column;
        padding-top: 2.5%;
    }

    .services-content .card{
        flex: 1;
        margin-bottom: 2.5%;
    }

    .services-content .text-2{
        font-size: 0.75rem;
    }


}

/* Extra small devices(small phones, 350px and up) */
@media (max-width: 350px){
    :root{
        --fs-h1: 1.5rem;
        --fs-h2: 0.75rem;
        --fs-p1: 0.85rem;
    }

    .about-content{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-content .column-left{
        flex: 0;
        width: 60%;
    }

    .about-content .column-right{
        flex: 0.5;
        width: 95%;
        margin-top: 5%;
    }

    .gallery-content .text-1{
        width: 60%;
    }

    .services-content .card{
        width: 45%;
    }

    .contact{
        height: 100vh;
    }

    .contact-form{
        width: 90%;
        height: 80%;
    }
    
    .fields{
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .field{
        width: 100%;
    }

    .field input{
        width: 100% !important;
    }

    .send-button button{
        width: 50%;
        height: 40%;
        font-size: medium;
    }

    
    
}



